* {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    background-image: linear-gradient(rgb(70, 70, 70), white);
    background-size: cover;
    background-repeat: no-repeat;
}

img {
    display: inline-block;
    width: 400px;
    height: auto;
}

/* Hey guys wanna see me make the hardest version of using a border instead of
just using border: */

.cardB {
    display: inline-block;
    background-color: rgb(198, 215, 221);
    padding: 24px auto;
    border: solid 8px;
    border-color: rgb(18, 29, 59);
    margin: 8px;
    width: 400px;
    height: auto;
}

.cardW {
    display: inline-block;
    background-color: rgb(255, 255, 255);
    padding: 8px 8px;
    margin: 24px;
    border: solid 8px;
    border-color: rgb(18, 29, 59);
    width: 400px;
    height: auto;
    
}