* {
    text-align: center;
}

body{
    background-image: linear-gradient(rgb(70, 70, 70), white);
    background-size: cover;
    background-repeat: no-repeat;
}
.card1 {
    display: inline-block;
    background-color: midnightblue;
    padding: 20px auto;
    margin: 8px;
    width: 400px;
    height: auto;
}

.card2 {
    display: inline-block;
    background-color: rgb(198, 215, 221);
    padding: 24px auto;
    margin: 8px;
    width: 400px;
    height: auto;
}

.filling {
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 8px 8px;
    margin: 24px;
    
}